<h3>All Blood Donors : </h3>
<%#= form_for :user do |f| %>
<table class="display-table">
	<thead>
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Blood Group</th>
		<th>Identification No</th>
		<th>Status</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Feriha</td>
		<td>feriha@gmail.com</td>
		<td>A+</td>
		<td>625722537</td>
		<td>Available</td>
	</tr>
	</tbody>
</table>
