<h3>All Blood Donors : </h3>
<%#= form_for :user do |f| %>
<table class="display-table">
	<thead>
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Blood Group</th>
		<th>Identification No</th>
		<th>Status</th>
		<th>Send Friend Request</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Çağla</td>
		<td>cgla.baran@gmail.com</td>
		<td>A+</td>
		<td>625722537</td>
		<td>Available</td>
		<td><input type="button" name="add" value="Add as a friend"</input></td>
	</tr>

  <tr>
    <td>Elif</td>
    <td>eliff@gmail.com</td>
    <td>AB+</td>
    <td>15254437</td>
    <td>Available</td>
    <td><input type="button" name="add" value="Add as a friend"</input></td>
  </tr>

  <tr>
    <td>Ahmet</td>
    <td>ahmett@gmail.com</td>
    <td>B+</td>
    <td>358851537</td>
    <td>Available</td>
    <td><input type="button" name="add" value="Add as a friend"</input></td>
  </tr>

  <tr>
    <td>Nurdan</td>
    <td>nurdann@gmail.com</td>
    <td>B+</td>
    <td>254412837</td>
    <td>Busy</td>
    <td><input type="button" name="add" value="Add as a friend"</input></td>
  </tr>
	</tbody>
</table>
