<h3> List of donation centers </h3>
<%#= form_for :user do |f| %>
<table class="display-table">
	<thead>
	<tr>
		<th>Name</th>
		<th>Phone Number</th>
		<th>Address</th>
		<th>Status</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Kan Merkezi</td>
		<td>1251</td>
		<td>gebze </td>
		<td>Available</td>
	</tr>
	</tbody>
</table>
