<h3> List of Donor Hospitals </h3>
<%#= form_for :user do |f| %>
<table class="display-table">
	<thead>
	<tr>
		<th>Name</th>
		<th>Phone Number</th>
		<th>Address</th>
		<th>Status</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Yavuz Selim Devlet Hastanesi</td>
		<td>21625152</td>
		<td>kartal bla bla</td>
		<td>Available</td>
	</tr>

  <tr>
  <td>Kızılay</td>
  <td>216777155</td>
  <td>adres .....</td>
  <td>Available</td>
  </tr>
	</tbody>
</table>
