<h3>Send an invite to a friend </h3><br /><br />
<form>
Email : <input type="text" name="email">
<input type="submit" name="submit" value="Send an invite !" >
</form>
<br />
OR <h3>Share Via Facebook</h3>

<div id=fb-root></div>
<div class="fb-share-button" data-href="http://loacalhost:3000" data-layout="button"></div>


<script type="text/javascript">
    setInterval("my_function();",1000);
    function my_function(){
      document.getElementById("location.href");
    }
</script>