<h3> Notifications </h3><br />
<h5>Friend Requests</h5> 
<table class="display-table">
	<thead>
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Address</th>
		<th>Phone number</th>
		<th>Blood Group</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Erkan</td>
		<td>abc@xyz.com</td>
		<td>adres ....</td>
		<td>47589</td>
		<td>A+</td>
		<td><input type="button" name="add" value="Accept Request" ></td>
	</tr>
	</tbody>
</table>

<h5> Blood Requests </h5>
<table class="display-table">
	<thead>
	<tr>
		<th>Requester Name</th>
		<th>Email</th>
		<th>Address</th>
		<th>Phone number</th>
		<th>Blood group needed</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Canan</td>
		<td>canan@gmail.com</td>
		<td>gebze teknik üniversitesi</td>
		<td>2512</td>
		<td>A+</td>
	</tr>
	</tbody>
</table>